* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 16px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}
nav {
    height: 60px;
    background: #3498db;
}
.nav-flex {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
}
ul.menu {
    width: 400px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
ul.menu li a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}
ul.menu li a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

ul.menu li input {
    border: none;
    padding: 5px 10px;
}
ul.menu li button {
    cursor: pointer;
    border: none;
    background: none;
}
ul.menu li button i {
    color: #fff;
    margin-left: 10px;
}